<h1><%= @article.title %></h1>
<h3><%= "Employee:" %></h3>
<p><%= @article.user %></p>
<h3><%= "Tech:" %></h3>
<p><%= @article.tech %></p>
<h3><%= "Description of Problem:" %></h3>
<p><%= @article.descrtion %></p>
<h3><%= "Resolution:" %></h3>
<p><%= @article.resolution %></p>
<h3><%= "Tag:" %></h3>
<p><%= @article.catagory %></p>
<%= link_to "<< Back to Articles List", articles_path %>
